:root,
.vscode-light {
	--text: #000000;
	--text-code: #000000;
	--text-hl: #000000;
	--text-link: #0077ff;
	--text-visited: #c13bff;
	--missing: #e00000;

	--hr-color: #7f7f7f2f;
	--border-quote: #7f7f7f40;
	--border-i-quote: #0026ff80;
	--border-w-quote: #ffdd0080;
	--border-e-quote: #ff000080;

	--bg: white;
	--bg-quote: #7f7f7f17;
	--bg-mark: #fffcb3;
	--bg-code: #80808012;
	--bg-i-quote: #0026ff24;
	--bg-w-quote: #ffdd0024;
	--bg-e-quote: #ff000024;

	--syntax-string: #A31515;
	--syntax-number: #098658;
	--syntax-const: #0000FF;
	--syntax-control: #0000FF;
	--syntax-definition: #0000FF;
	--syntax-flow: #AF00DB;
	--syntax-comment: #008000;
	--syntax-type-builtin: #0000FF;
	--syntax-type: #267F99;
}

.vscode-dark {
	--text: #bfbfbf;
	--text-code: #cfcfcf;
	--text-hl: #afafaf;
	--text-link: #3d8be6;
	--text-visited: #a069df;
	--missing: #f84747;

	--hr-color: #7f7f7f2f;
	--border-quote: #7f7f7f1a;
	--border-i-quote: #338bff80;
	--border-w-quote: #ffdd0080;
	--border-e-quote: #ff000080;

	--bg: #1e1e1e;
	--bg-quote: #7f7f7f10;
	--bg-mark: #33310a;
	--bg-code: #0000001f;
	--bg-i-quote: #006eff24;
	--bg-w-quote: #ffdd000f;
	--bg-e-quote: #ff000016;

	--syntax-string: #CE9178;
	--syntax-number: #B5CEA8;
	--syntax-const: #569CD6;
	--syntax-control: #569CD6;
	--syntax-definition: #569CD6;
	--syntax-flow: #C586C0;
	--syntax-comment: #6A9955;
	--syntax-type-builtin: #569CD6;
	--syntax-type: #4EC9B0;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--text: #bfbfbf;
		--text-code: #cfcfcf;
		--text-hl: #afafaf;
		--text-link: #3d8be6;
		--text-visited: #a069df;
		--missing: #f84747;
	
		--hr-color: #7f7f7f2f;
		--border-quote: #7f7f7f1a;
		--border-i-quote: #338bff80;
		--border-w-quote: #ffdd0080;
		--border-e-quote: #ff000080;
	
		--bg: #1e1e1e;
		--bg-quote: #7f7f7f10;
		--bg-mark: #33310a;
		--bg-code: #0000001f;
		--bg-i-quote: #006eff24;
		--bg-w-quote: #ffdd000f;
		--bg-e-quote: #ff000016;

		--syntax-string: #CE9178;
		--syntax-number: #B5CEA8;
		--syntax-const: #569CD6;
		--syntax-control: #569CD6;
		--syntax-definition: #569CD6;
		--syntax-flow: #C586C0;
		--syntax-comment: #6A9955;
		--syntax-type-builtin: #569CD6;
		--syntax-type: #4EC9B0;
	}
}

* {
	box-sizing: border-box;
}

html {
	padding-inline: 2em;
}

body {
	max-width: 1000px;
	overflow-x: hidden;
	margin-inline: auto;
	margin-block: 32px;
	/* margin-top: 0; */
	color: var(--text);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--bg);
	line-height: 1.5em;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--text-hl);
}

h1 {
	border-bottom: thin solid var(--hr-color);
	padding: 0.5em 0.25em;
}

p {
	margin-block: 0.5em;
}

blockquote > p:first-of-type {
	margin-top: 0;
}

blockquote > p:last-of-type {
	margin-bottom: 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

mark {
	background-color: var(--bg-mark);
	border-radius: 4px;
	padding-inline: 0.4em;
	margin-block: 0.1em;
	color:inherit;
}

code {
	font-family: 'Courier New', Courier, monospace;
	font-size: 80%;
	background-color: var(--bg-code);
	border-radius: 4px;
	padding-inline: 0.4em;
	display: inline-block;
	color: var(--text-code);
	white-space: pre-wrap;
}

pre > code {
	width:100%;
	tab-size: 4;
	padding: 0.8em 1.2em;
}

blockquote {
	background-color: var(--bg-quote);
	border-left: 8px solid var(--border-quote);
	margin: 1em 0;
	padding: 0.5em 1.5em;
	position: relative;
	border-radius: 4px;
}

blockquote.nd-center {
	background-color: unset;
	border-left: none;
	text-align: center;
	font-size: large;
	font-style: italic;
}

blockquote[author].nd-center::after {
	content: attr(author);
	font-style: normal;
	font-size: small;
}

img {
	max-width: 100%;
}

hr {
	border: none;
	border-bottom: thin solid var(--hr-color); 
	margin-block: 1em;
}

a {
	color: var(--text-link);
	text-decoration: none;
}

.nd-missing {
	color: var(--missing);
}

.nd-missing:visited {
	color: var(--missing);
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--text-visited);
}

a.nd-footnote {
	vertical-align: super;
	font-size: smaller;
	text-decoration: none;
}

ul, ol {
	padding-left: 1.5em;
}

li {
	margin-top: 0.5em;
}

blockquote.nd-sym {
	padding-left: 2.5em;
}

blockquote.i,
blockquote.info {
	background-color: var(--bg-i-quote);
	border-left-color: var(--border-i-quote);
}

blockquote.w,
blockquote.warn {
	background-color: var(--bg-w-quote);
	border-left-color: var(--border-w-quote);
}

blockquote.e,
blockquote.error {
	background-color: var(--bg-e-quote);
	border-left-color: var(--border-e-quote);
}

blockquote.nd-sym > *:first-child {
	display: list-item;
}

blockquote.nd-sym > *:first-child::marker {
	font-size: 1.2rem;
	font-family: "Segoe UI Emoji";
}

blockquote.i.nd-sym > *:first-child::marker,
blockquote.info.nd-sym > *:first-child::marker {
	content: "ℹ️ ";
}

blockquote.w.nd-sym > *:first-child::marker,
blockquote.warn.nd-sym > *:first-child::marker {
	content: "⚠️ ";
}

blockquote.e.nd-sym > *:first-child::marker,
blockquote.error.nd-sym > *:first-child::marker {
	content: "❌ ";
}

details {
	padding-block: 0.25em;
	display: block;
	padding-left: 1em;
}

details > summary {
	cursor:pointer;
	margin-left: -1em;
}

details[open] > summary {
	margin-bottom: 1em;
}

details > summary * {
	display: inline-block;
}

.nd-task-list-item {
	list-style: none;
}

.nd-task-list-item > p > input[type="checkbox"] {
	position: relative;
	margin-left: -20px;
}

.nd-syntax-literal-const {
	color: var(--syntax-const);
}

.nd-syntax-keyword-def {
	color: var(--syntax-definition);
}

.nd-syntax-keyword-other {
	color: var(--syntax-control);
}

.nd-syntax-comment {
	font-style: italic;
	color: var(--syntax-comment);
}

.nd-syntax-keyword-flow {
	color: var(--syntax-flow);
}

.nd-syntax-literal-num {
	color: var(--syntax-number);
}

.nd-syntax-literal-str {
	color: var(--syntax-string);
}

.nd-syntax-type {
	color: var(--syntax-type);
}
